@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Poppins";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  padding: 1rem;
}
.d-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  width: 100%;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.container {
  width: 100%;
  margin: 0 auto;
}
[class*="col-"] {
  text-align: center;
  width: 100%;
  height: 100%;
}
.logo > img {
  width: 100%;
  max-width: 273px;
  height: auto;
  /* max-height: 73px; */
}
.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}
.top-header {
  color: #ffff;
  font-size: 14px;
  font-weight: 200;
}
.top-header-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.top-header a {
  color: #fff;
}

/* background */
.bg-top-nav {
  background-color: #2b3546;
}
.bg-portfolio {
  background-color: rgb(236, 233, 233);
}

.j-con-center {
  justify-content: center;
}
.j-con-between {
  justify-content: space-between;
}
.j-con-around {
  justify-content: space-around;
}
.j-con-evenely {
  justify-content: space-evenly;
}
.j-con-start {
  justify-content: right;
}
.align-center {
  align-items: center;
}
.flex-end {
  align-self: baseline;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}


/* border */
.border {
  border: 1px solid red;
}
/* padding   */
.p1 {
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
.p2 {
  padding-inline: 1rem;
  padding-block: 1rem;
}
.p3 {
  padding-inline: 2rem;
  padding-block: 2rem;
}
/* margin */
.ml-2 {
  margin-left: 2rem;
}
.m-auto{margin: 0 auto;}

/* letter spacing */
.letter-spacing-1 {
  letter-spacing: 1px;
}
/* width */
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.top-nav ul li {
  /* margin-left: 1rem; */
}
.fa-search {
  background-color: #64c5aa;
  padding: 1rem;
  cursor: pointer;
  color: #fff;
}

/* small device */
@media only screen and (max-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-1 {
    grid-column: span 1;
  }
  .top-nav {
    justify-content: space-between;
  }
  .btn-quote {
    place-items: end;
  }
  .slider-container {
    height: 50vh !important;
    object-fit: cover;
  }
  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
  }
  .d-sm-none {
    display: none;
  }
  /* .logo>img{width: 100%;height: auto !important;} */
}

.contact-details ul li {
  margin-left: 2rem;
  cursor: pointer;
}
.contact-details i {
  color: #64c5aa;
}
.btn-quote {
  text-transform: uppercase;
  background-color: #64c5aa;
  color: #fff;
  padding: 1rem;
  margin-left: 10rem;
}
.btn-quote a {
  color: #fff;
}
.main-nav ul li:nth-child(6) {
  background-color: #64c5aa;
  padding: 1rem;
}

.main-nav ul li a {
  color: #2b3546;
  font-weight: 400;
}
.main-nav ul li {
  position: relative;
}
.submenu {
  position: absolute;
  display: none;
  z-index: 100;
  flex-direction: column;
  text-align: left;
  background-color: #2b3546;
  padding: 1rem;
  width: 200%;
  transform: translateY(10px);
}
.submenu li a {
  color: #fff !important;
  text-align: left;
}
.submenu li {
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
}

.main-nav ul li:hover .submenu {
  display: block;
}

@media only screen and (max-width: 1024px) {
  /* .main-nav{display: none;} */
  .burger {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
}
.slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  object-fit: cover;
}
.slider-img img{object-fit: cover;width: 100%;}
.slider-caption {
  position: absolute;
  bottom: 40%;
  left: 10%;
  color: #fff;
  transform: tra;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  width: 50%;
}
.slider-caption button {
  min-width: 100px;
  width: 20%;
  padding: 1rem;
  background-color: #64c5aa;
  color: #ffff;
  outline: none;
  border: none;
}
.slider-caption h2 {
  width: 20ch;
}
.slider-caption p {
  width: 70ch;
  font-weight: lighter;
  font-size: 12px;
}

/* margin */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

.ff-size-1 {
  font-size: 1.2rem;
}
.d-grid-autofit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  place-content: center;
  grid-gap: 1rem;
}
.portfolio-cards img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.portfolio-title {
  color: rgb(70, 68, 68);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.portfolio-cards {
  position: relative;
  overflow: hidden;
}
.portfolio-cards:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#64c5aad8;
  z-index: 2;
  transform: skew(45deg) scaleX(0);
  transition: all 600ms cubic-bezier(.175,.885,.32,1.275);
  /* transition: all 400ms cubic-bezier(.175,.885,0.5,1.275); */



}
.portfolio-cards:hover .portfolio-img {
  transform: scale(1.1);
}
/* .portfolio-cards:hover .portfolio-cards:before {
  background-color: blue;
} */

.portfolio-text {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -60%;
  left: 0;
  opacity: 0;
  background-color: transparent;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  justify-content: flex-end;
  transition: all 0.3s  cubic-bezier(.175,.885,.32,1.275);
  z-index: 3;
}
.portfolio-cards:hover:before{
  transform: skew(0deg) scaleX(1);

}
.portfolio-cards:hover .portfolio-text {
  
  transform: translateY(-60%) scale(1);
  opacity: 1;
}
.portfolio-text h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: -2rem;
  letter-spacing: 1px;

  /* margin-bottom: 1rem; */
}
.portfolio-text p {
  font-size: 12px;
}
.portfolio-text button {
  width: 35%;
  padding: 0.8rem;
  background-color: #2b3546;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.portfolio-search{
  position: absolute;
  color: black;
  width: 25px;
  height: 25px;
  top: 0%;
  right: 8%;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 3;

}
.portfolio-cards:hover .portfolio-search{
  opacity: 1;
  transform: translateY(60%);
}
.portfolio-search i{
  font-size: 0.8rem;
  color:#fff;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  /* align-items: center; */
  text-align: start;
  background-color: #2b3546;
  color: #fff;
}
.footer-contact h2 {
  text-transform: uppercase;
}
.footer-contact p {
  letter-spacing: 1px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}
.contact-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  font-style: italic;
  color: #fff;
}
.contact-form input {
  width: 100%;
  color: #fff;
  padding: 0.25em;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-style: italic;
  background-color: transparent;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #fff;
}
.btn-submit {
  border: none;
  background-color: #64c5aa;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.text-muted {
  color: rgb(165, 165, 165);
}
.slider {
  margin-top: 2px;
}
.clr-white {
  color: #fff;
}
.border-bottom {
  border-bottom: 1px solid rgb(231, 230, 230);
}
